/*
 * MyScrobble.css
 */

/* Global */

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  color: #111;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 1);
  font-family: 'Merriweather', serif;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
}

header {
  height: calc(100vh - 60px);
  position: relative;
  transition: all 500ms ease-in-out;
}

.home header {
  height: 90px;
}

a,
a:hover {
  text-decoration: none;
  color: #111;
}

a:focus {
  color: transparent;
  text-decoration: underline;
}

footer {
  padding-top: 15px;
  background: #111;
  color: #777;
  font-size: 1em;
  border-top: 1px solid #333;
}

footer .container p a {
  color: #fff;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.loader {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  z-index: 99999;
}

.loader .loader-label {
  color: #fff;
  padding: 20px 25px;
}

.loader img {
  margin-right: 5px;
}

.page-wrap {
  background-size: cover !important;
  /*transition: all 500ms ease-in-out;*/
}

/* Header */

header .fade {
  background: #000;
  position: absolute;
  opacity: 0.2;
  height: calc(100vh - 60px);
  width: 100vw;
  z-index: 0;
}

.navbar {
  padding-top: 20px;
}

.navbar-fixed-top {
  transition: all 300ms ease-in-out;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #fff;
  color: #fff;
  padding: 10px 25px 10px 10px;
  height: auto;
  cursor: pointer;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  border: 4px solid rgba(0, 0, 0, 0.8);
}

.navbar-brand a {
  color: #fff;
}

.navbar-brand a.username {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease-in-out;
}

.navbar-brand a.username:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* Home */

.home {
  color: #fff;
  height: calc(100vh - 43px);
}

.home .username {
  height: calc(100vh - 138px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.home .username h1 {
  margin-top: -80px;
  font-weight: 800;
  font-size: 3em;
}

.home .username p {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home .username input {
  outline: none;
  font-size: 3em;
  padding: 10px 25px;
  border: 10px solid #111;
  color: #111;
  transition: all 0.3s ease-in-out;
}

.home .username input:focus {
  border: 10px solid #333;
}

.home .username .username-submit,
.home .username .username-submit:focus {
  background: #111;
  color: #333;
  border: 10px solid #111;
  transition: all 0.3s ease-in-out;
}

.home .username .username-submit:hover {
  background: #333;
  color: #111;
  border: 10px solid #333;
}

/* Last Scrobble Song */

.bg-artist {
  background-size: cover !important;
  background-attachment: fixed !important;
  height: calc(100vh - 60px);
  width: 100vw;
  position: absolute;
  z-index: -1;
  box-shadow: inset 0px 70px 205px 0px rgba(0, 0, 0, 0.5);
}

.bg-artist-fade {
  height: calc(100vh - 60px);
  width: 100vw;
  position: absolute;
  background: rgba(0, 0, 0, 1);
  opacity: 0;
}

.last-scrobble-wrap {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.last-scrobble {
  margin-top: -60px;
  z-index: 2;
}

.last-scrobble h1 {
  max-width: 900px;
  margin: 20px 0px -20px 0px;
}

.last-scrobble h2 {
  max-width: 900px;
}

.last-scrobble h1 a {
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 0px 0px 10px;
  font-weight: 300;
  line-height: 102px;
  box-shadow: 15px 0 0 rgba(0, 0, 0, 0.8), -12px 0 0 rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
}

.last-scrobble h1 a:hover {
  color: #111;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 20px 0 0 rgba(255, 255, 255, 0.8),
    -12px 0 0 rgba(255, 255, 255, 0.8);
}

.last-scrobble h2 a {
  font-size: 1em;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 20px 5px 20px;
  font-weight: 300;
  line-height: 58px;
}

.last-scrobble h1 a {
  color: #fff;
}

.last-scrobble .date,
.last-scrobble .listening {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-size: 1em;
  padding: 0px 5px;
}

.last-scrobble .ontour {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  background: #ff0000;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 1em;
  padding: 1px 7px 0px 5px;
  margin-bottom: 10px;
}

.more-button {
  width: 100%;
  height: 60px;
  margin-bottom: 80px;
  background-color: #111;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition: all 0.3s ease-in-out;
}

.more-button:hover {
  background-color: #444;
}

/* Recent Tracks */

.recent-tracks {
  background: #e4e4e4;
  position: relative;
  padding-bottom: 30px;
}

.recent-tracks .scrobbles-list {
  padding: 0px 80px;
  margin-top: 25px;
}

.scrobble {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  background-color: #111;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px 0px 0px 10px;
  transition: all 0.3s ease-in-out;
}

.scrobble.is-showing-tracks {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.scrobble:hover {
  background-color: #222;
  transition: all 100ms ease-in-out;
}

.scrobble:hover > img {
  border: 5px solid rgba(255, 255, 255, 1);
  transition: all 300ms ease-in-out;
}

.scrobble h1 {
  margin: 0px 0px 10px 0px;
}

.scrobble p {
  opacity: 0.4;
}

.scrobble a {
  color: #fff;
  font-size: 0.74em;
}

.scrobble .track-info {
  -ms-flex: 1;
      flex: 1;
  padding-right: 20px;
}

.scrobble img {
  margin: 0px 20px 10px 0px;
  width: 110px;
  height: 110px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 300ms ease-in-out;
}

.scrobble:last-child {
  margin-bottom: 80px;
}

/* User Info */

.user-info {
  position: absolute;
  top: 0;
  left: -280px;
  width: 280px;
  height: calc(100vh - 60px);
  background: #000;
  overflow-y: auto;
  transition: all 500ms ease-in-out;
}

.user-info .username {
  color: #fff;
  text-align: center;
  font-size: 2em;
}

.user-info .avatar {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.user-info .playcount {
  text-align: center;
  width: 80%;
  margin: 15px auto 20px auto;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #111;
  padding-bottom: 20px;
}

.user-info .playcount .glyphicon-music,
.user-info .playcount .glyphicon-heart {
  color: rgba(255, 255, 255, 1);
}

.user-info h4 {
  padding-left: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 30px;
  color: rgba(255, 255, 255, 1);
}

.user-info .loved {
  padding: 0px 30px;
  margin-top: 20px;
}

.user-info .loved .track {
  display: block;
  color: #fff;
  margin-bottom: 8px;
}

.user-info .loved .track .name {
  display: block;
  font-weight: 800;
  font-size: 1.2em;
  opacity: 0.8;
}

.user-info .loved .track .artist {
  display: block;
  font-size: 0.9em;
  opacity: 0.6;
}

.user-info .tags {
  padding-left: 30px;
  margin-top: 20px;
  display: block;
  max-width: 250px;
  padding-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-info .tags span {
  margin-bottom: 5px;
}

.user-info .tags span a {
  padding: 4px 6px;
  background: rgba(255, 255, 255, 0.7);
  margin-right: 5px;
  border-radius: 5px;
  font-size: 0.85em;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 2.2em;
  transition: all 500ms ease-in-out;
}

.user-info .tags span a:hover {
  background: rgba(255, 255, 255, 1);
}

/* New Releases */

.new-releases {
  background: #111;
}

.new-releases h1 {
  color: rgba(255, 255, 255, 1);
  margin: 60px 0px 30px 0px;
  font-weight: 400;
}

.release.is-showing-releases {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.release {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
}

.releases-list,
.share-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.releases-list .release a img {
  width: 100%;
  min-width: 360px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 100ms ease-in-out;
}

.releases-list .release a img:hover {
  border: 10px solid rgba(255, 255, 255, 1);
}

.releases-list .release a:hover + .release-info {
  opacity: 0.2;
}

.releases-list .release .release-info {
  transition: all 100ms ease-in-out;
}

.releases-list .release .release-info h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
  margin: 15px 10px 10px 0px;
}

.releases-list .release .release-info h2 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.95em;
  margin: 0px 0px 40px 0px;
}

/* Share */

.share {
  background: #fff;
  padding-bottom: 70px;
}

.share h1 {
  color: #111;
  margin: 60px 0px 30px 0px;
  font-weight: 400;
}

.share-icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: 50% 50%;
  transition: all 0.3s ease-in-out;
}

.share-icon:hover {
  cursor: pointer;
  -webkit-animation: animate-share-icon 0.5s ease-in-out;
          animation: animate-share-icon 0.5s ease-in-out;
}

@-webkit-keyframes animate-share-icon {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 50% -200%;
  }
  51% {
    background-position: 50% 250%;
  }
  100% {
    background-position: 50% 50%;
  }
}

@keyframes animate-share-icon {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 50% -200%;
  }
  51% {
    background-position: 50% 250%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.fb-icon {
  background-color: #2d4486;
  background-image: url(../images/ico-fb.png);
  background-repeat: no-repeat;
}

.gp-icon {
  background-color: #d13f2d;
  background-image: url(../images/ico-gplus.png);
  background-repeat: no-repeat;
}

.tw-icon {
  background-color: #44ccf6;
  background-image: url(../images/ico-tw.png);
  background-repeat: no-repeat;
}

/* Classes to make the user-info work */

#info-toggle {
  display: none;
}

#info-toggle:checked + .page-wrap {
  background-position: 10% 50% !important;
}

#info-toggle:checked + .page-wrap .user-info {
  left: 0;
}

#info-toggle:checked + .page-wrap header {
  padding-left: 230px;
}

#info-toggle:checked + .page-wrap header .bg-artist-fade,
#info-toggle:checked + .page-wrap header .bg-artist {
  width: calc(100vw - 230px);
}

#info-toggle:checked + .page-wrap header .bg-artist {
  padding-left: 230px;
}

#info-toggle:checked + .page-wrap header .container .navbar-fixed-top {
  padding-left: 320px;
}

/* Intro animation */
.elements-hidden {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.elements-show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  transition: all 500ms ease-in-out;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 540px) {
  .container {
    max-width: 1170px;
    width: 100%;
  }

  .navbar-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    text-align: center;
    margin: 0;
  }

  .navbar-brand {
    margin: 0px 25px;
  }

  .home .username {
    height: calc(100vh - 133px);
    text-align: center;
  }

  .home .username input {
    font-size: 1.3em;
    padding: 10px 20px;
    border: 5px solid #111;
  }

  .home .username input:focus {
    border: 5px solid #333;
  }

  .home .username h1 {
    margin-top: -50px;
    font-size: 2.8em;
  }

  .home .username .username-submit,
  .home .username .username-submit:focus {
    border: 5px solid #111;
  }

  .last-scrobble-wrap {
    padding-top: 65px;
  }

  .last-scrobble img {
    width: 55%;
  }

  .last-scrobble h1 a {
    font-size: 1.3em;
    line-height: 70px;
  }

  .last-scrobble h2 {
    /*margin-top: 10px;*/
  }

  .last-scrobble h2 a {
    font-size: 0.6em;
    padding: 10px 5px 5px 0px;
    line-height: 2.35em;
    box-shadow: 10px 0 0 rgba(255, 255, 255, 0.8),
      -10px 0 0 rgba(255, 255, 255, 0.8);
  }

  .last-scrobble-wrap {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  header,
  .bg-artist-fade {
    height: calc(100vh - 45px);
  }

  .more-button {
    height: 45px;
    margin-bottom: 10px;
  }

  .recent-tracks .scrobbles-list {
    padding: 0;
  }

  .scrobble {
    padding: 5px 0px 0px 5px;
  }

  .scrobble img {
    margin: 0px 15px 10px 0px;
  }

  .scrobble a {
    font-size: 0.35em;
  }

  .track-info h1 {
    line-height: 0.35em;
    margin-top: 7px;
  }

  .scrobble img {
    width: 90px;
    height: 90px;
    margin: 0px 15px 5px 0px;
  }

  .scrobble p {
    font-size: 0.8em;
  }

  .releases-list .release a img {
    width: 150px;
    height: 150px;
    min-width: 150px;
  }

  .releases-list .release .release-info {
    width: 150px;
  }

  .share-icon {
    width: 100px;
    height: 100px;
    background-size: 50%;
  }

  footer {
    text-align: center;
  }

  .user-info {
    height: calc(100vh - 45px);
  }

  #info-toggle:checked + .page-wrap header {
    padding-left: 430px;
  }

  #info-toggle:checked + .page-wrap header .bg-artist-fade,
  #info-toggle:checked + .page-wrap header .bg-artist {
    width: calc(100vw - 430px);
  }

  #info-toggle:checked + .page-wrap header .bg-artist {
    padding-left: 230px;
  }

  #info-toggle:checked + .page-wrap header .container .navbar-fixed-top {
    padding-left: 320px;
  }

  #info-toggle:checked + .page-wrap header .container .last-scrobble-wrap {
    opacity: 0;
  }
}
