.loved-tracks {
  background: #111;
  padding-top: 25px;
}

.loved-tracks h1 {
  color: rgba(255, 255, 255, 1);
  margin: 0;
  font-weight: 400;
}

.loved-track.is-showing-loved-track {
  transform: translateY(0px);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.loved-track {
  transform: translateY(40px);
  opacity: 0;
}

.loved-tracks-list {
  margin-top: 25px;
}

.loved-tracks-list,
.share-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.loved-tracks-list .loved-track a img {
  width: 100%;
  max-width: 360px;
  min-width: 360px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: all 100ms ease-in-out;
}

.loved-tracks-list .loved-track a img:hover {
  border: 10px solid rgba(255, 255, 255, 1);
}

.loved-tracks-list .loved-track a:hover + .loved-track-info {
  opacity: 0.2;
}

.loved-tracks-list .loved-track .loved-track-info {
  transition: all 100ms ease-in-out;
}

.loved-tracks-list .loved-track .loved-track-info h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  margin: 15px 10px 10px 0px;
}

.loved-tracks-list .loved-track .loved-track-info h2 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.95em;
  margin: 0px 0px 40px 0px;
}
